main {
    background-color: black;
    text-align: center;
    position: relative;
    h2 {
      padding: 30px;
    }
    
    button {
      padding: 13px 60px;
      background-color: $my-blue;
      border: 1px solid transparent;
      color: white;
      margin-bottom: 150px;
    }
    
    #top-button {
      font-size: 1.2rem;
      position: absolute;
      top: -30px;
      left: 80px;
    }

    #lowebutton{
      margin-bottom: 100px;
    }
   
  }